/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    flex: 1 1 0;

    background-image: url('/images/side-bar.avif');
    background-size: cover;
    background-position: center;

    text-align: center;
}

.sidebar p {
    background-color: rgba(0, 0, 0, 0.4);

    position:relative;
    top: 20%;

    color: rgba(255, 255, 255, 1);
    font-size: max(5vw, 3rem);
    margin: 0px;
    padding: 0px;
}

.sidebar p::before{
    background-image: url('images/logo.jpeg');
    background-size: 100% 100%;
    display: inline-block;
    width: 3rem; 
    height: 3rem;
    content:"";
}

.mainContent {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.mainContent>p {
    font-size: max(2vw, 1.5rem);
    padding: 20px 3rem;
    margin-right: 20%;
    font-weight: bold;
}

em {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

form {
    padding: 30px 0px;
}

form fieldset{
    background-color: whitesmoke;

    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    
    padding: 40px 0px 20px;
}

.formRow {
    display: flex;
    justify-content: start;
    gap: 4rem;
    
    margin: 20px 3rem;
}

label{
    display: block;

    font-size: .8rem;
    text-transform: uppercase;
}

form>fieldset>legend {
    position: relative;
    top: 30px;
    left: 3rem;

    font-size: 1.2rem;

}

form button {
    margin: 30px 3rem;
}

form input {
    border: 2px solid grey;
    border-radius: 3px;
    height: 20px;
}

form button {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form button:hover {
    color: black;
}